<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<!-- This file gets copied as info.plist when building for OS X -->
<plist version="0.9">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>paranolog.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>© 2013, Adrien Bustany</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>paranolog</string>
	<key>CFBundleIdentifier</key>
	<string>org.bustany.paranolog</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>ParanoLog</string>
</dict>
</plist>
